<%= form_for(funding_need) do |f| %>
  <% if funding_need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funding_need.errors.count, "error") %> prohibited this funding_need from being saved:</h2>

      <ul>
      <% funding_need.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
