<p>Hello!</p>

<p>To log in to GIVEdsm please click on the following link.</p>

<p>
<%= donor_login_url(@donor.login_token) %>
</p>

<p>
This link is only good for a few days. You can always request a new one here: www.givedsm.org
</p>