
<div class="row">
  <nav id="preferenceContainer" class="col-md-3 d-none d-md-block bg-light sidebar">
    <p>loading...</p>
  </nav>
  <main role="main" class="col-md-9">
    <div class="jumbotron jumbotron-fluid justify-content-center row">
      <%= image_tag("GIVEdsm4.png", :class => "large") %>
    </div>
    <div class="row">
      <div class="container card-group" id="interestContainer">
          <p>Loading...</p>
      </div>
    </div>  
  </main>
</div>