
<div class="row">
  <nav id="preferenceContainer" class="col-md-3 d-none d-md-block bg-light sidebar">
    <p>loading...</p>
  </nav>
  <main role="main" class="col-md-9">
    <div class="text-center">
      <h1 class="display-4">GIVE dsm</h1>
      <p class="lead">Connecting donors to causes they care about.</p>
    </div>
    <div class="col-md-6 justify-content-between" id="interestContainer">
      <p>Loading...</p>
    </div>
  </main>
</div>