
<div class="row">
  <nav class="col-md-3 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <div class="p-2">
        Causes I care about...
      </div>
      <div class="well" style="max-height: 300px;overflow: auto;">
        <ul class="list-group checked-list-box">
          <li class="list-group-item">Animal Related</li>
          <li class="list-group-item" data-checked="true">Arts/Culture</li>
          <li class="list-group-item" data-checked="true">Disaster Relief</li>
        </ul>
      </div>
    </div>
  </nav>
  <main role="main" class="col-md-9 pt-3 px-4">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Recommendations</h1>
      <p class="lead">Find more information about causes you are interested in.</p>
    </div>
    <div class="">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="face front">
            <div class="card-body">
              <img class="card-img" src="https://cdn.glitch.com/6a75ee71-9345-4dd6-ac44-5fb0d2c1d56a%2Fimage.png?1521776197497" alt="Card image">
            </div>
            <div class="card-footer">
              <h4 class="my-0 font-weight-normal">United Way - Vision to Learn Project <span id="toggle" class="badge badge-secondary badge-pill">i</span></h4>
            </div>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="face front">
            <div class="card-body">
              <img class="card-img" src="https://cdn.glitch.com/6a75ee71-9345-4dd6-ac44-5fb0d2c1d56a%2Fimage.png?1521776197497" alt="Card image">
            </div>
            <div class="card-footer">
              <h4 class="my-0 font-weight-normal">United Way - Central Iowa Works Project <span id="toggle" class="badge badge-secondary badge-pill">i</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>