
<div class="row">
  <nav id="preferenceContainer" class="col-md-3 d-none d-md-block bg-light sidebar">
    <p>loading...</p>
  </nav>
  <main role="main" class="col-md-9">
    <div class="p-2">
      2) View projects related to the causes you selected:
    </div>

    <div class="row">
      <div class="container card-group" id="interestContainer">
          <p>Loading...</p>
      </div>
    </div>  
  </main>
</div>