
<div class="row">
  <nav id="preferenceContainer" class="col-md-3 d-none d-md-block bg-light sidebar">
    <p>loading...</p>
  </nav>
  <main role="main" class="col-md-9">
    <div class="jumbotron jumbotron-fluid text-center">
      <%= image_tag("GIVEdsm4.png", :class => "large") %>
    </div>
    <div class="col-md-6 justify-content-between" id="interestContainer">
      <div class="text-center flip">
        <div class="card box-shadow">
          <div class="face front">
            <div class="card-header">
              <h2 class="">Organization Name </h2>
            </div>
            <div class="card-body">
              <img class="card-img well" src="https://cdn.glitch.com/6a75ee71-9345-4dd6-ac44-5fb0d2c1d56a%2Fimage.png?1521776197497" alt="Card image"/>
              <h3 class="pt-2">Funding Need Name </h3>
              <h3 class="">Cause Focus: 
                <span class="badge badge-pill interest-color">Education</span>
                <span class="badge badge-pill interest-color">Youth</span>
              </h3> 
              <div class="fixed-bottom">
                <a class="btn toggle">
                  <h3>Flip <span class="badge badge-secondary badge-pill flip-color"><i class="fas fa-arrow-circle-right"></i></span></h3>  
                </a>  
              </div>  
            </div>
          </div>
          <div class="face back">
            <div class="card-header">
              <h2 class="">Org Name </h2>
            </div>
            <div class="card-body">
              <h3 class="pt-2">Funding Need Name </h3>
              <p class="pt-2">Funding Need Description. Which is long and descriptive and has lots of text on why this is awesome. </p>
              <a href="" class="pt-2">Funding Need URL</a>
              <h3 class="pt-2">Funding Need Goal </h3>
              <h3 class="pt-2">Funding Need Deadline </h3>
              <button class="btn" type="button">Grant from Community Foundation Charitable Fund </button>
                <a class="btn toggle">
                  <h3>Flip <span class="badge badge-secondary badge-pill flip-color justify-content-end"><i class="fas fa-arrow-circle-right"></i></span></h3>  
                </a>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>