
<div class="row">
  <nav id="preferenceContainer" class="col-md-3 d-none d-md-block bg-light sidebar" style="min-height: 500px;">
    <div class="sidebar-sticky">
      <div class="p-2">
        1) Select the causes you care about most
      </div>
      <div class="showbox" style="margin-top: 10px;">
        <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
          </svg>
        </div>
      </div>
    </div>
  </nav>
  <main role="main" class="col-md-9">
    <div class="p-2">
      2) View projects related to the causes you selected
    </div>

    <div class="row">
      <div class="container card-group" id="interestContainer">
        <div class="showbox">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
          </div>
        </div>
      </div>
    </div>  
  </main>
</div>