

<h3 style="margin-top: 20px">Please enter your email address to login.</h3>
<%= form_tag(donor_new_session_path, method: "post") do %>

  <%= text_field_tag :email %>
  <input type="submit" class="btn-donate">
<% end %>

<% if notice %>
    <h4><%= notice %></h4>
<% end %>
