<div class="position-relative overflow-hidden p-2 p-md-2 m-md-1 text-center bg-light">
  <div class="col-md-8 p-lg-8 mx-auto my-8">
    <h1 class="display-4 font-weight-normal">Welcome to <%= image_tag 'givedsm_text.png', style: "width: 283px; margin-top: -13px;" %></h1>
    <p class="lead font-weight-normal">We help connect donors with causes they care about.<br>GIVEdsm provides
      information on timely funding needs of charitable organizations impacting<br>Greater Des Moines.</p>

    <p class="lead font-weight-normal">Log in to discover opportunities to be Better Together.</p>

    <h3 style="margin-top: 20px">Enter your email and we'll send you a link to access GIVEdsm.</h3>
    <%= form_tag(donor_new_session_path, method: "post") do %>


        <%= text_field_tag :email, "", class: "form-control" %>
        <input type="submit" class="btn btn-primary" value="Send">
    <% end %>

    <% if notice %>
        <h4><%= notice %></h4>
    <% end %>
    <p></p>
    <p class="lead font-weight-normal">For assistance email us (<a href="mailto:biedenfeld@desmoinesfoundation.org">biedenfeld@desmoinesfoundation.org</a>) <br>or call (515) 883-2626.</p>
  </div>
</div>


