//theme colors
$base-purple: #2c2866;
$base-green: #97ca3d;
$warm-red: #e03e52;
$cool-purple: #407ec9;

//basics
body{
  font-family: 'Lato', sans-serif;
}

//brand
.brand-bar {
  background-color: white;
  height: 130px;
  border-bottom: 1px solid whitesmoke;
}

.brand-logo {
  width: auto;
  height: 80px;
}


.brand-link a{
  color: $base-green;
}

a{
  color: $base-purple;
}
a:hover{
  color: $base-green;
}

.btn-primary{
  background-color: $base-purple;
  border-color: $base-purple;
}
.btn-primary:hover{
  background-color: $base-green;
  border-color: $base-green;
  color: black;
}

.card-image-section {
  img {
    width: 100%;
    height: auto;
  }
}

.card-img {
  max-width: 200px;
}

.card-field-header {
  margin-bottom: 0 !important;
  padding: 0.5rem;
  background-color: $base-purple; 
  color: white;
}

.interest-color {
  background-color: $base-purple;
  color: white;
  margin: 5px;
}

.btn-donate,
.btn-donate:active,
.btn-donate:visited {
  background-color: $base-green !important;
  color: black;
  margin: 5px;
}

.btn-donate:hover{
  color: white;
}
//flip cards
.flip-color {
  //background-color: $base-orange;
  color: white;
  margin: 5px;
}

.flip {
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  position: relative;
  max-width: 350px;
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

.flip .card {
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  width: 100%;
}

.flip .card .face {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

}

.flip .card .front {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.flip .card.flipped .front {
  opacity: 0;
  transition: .2s;

}

.flip .card.flipped .back {
  opacity: 1;
  transition: .2s;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
}

.flip .card .front {
  opacity: 1;
  transition: .2s;

}

.flip .card .back {
  opacity: 0;
  transition: .2s;

}

.flip .card .back {
  -webkit-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  transform: rotatey(180deg);
}

.inner {
  margin: 0 !important;
}

.heart {
  color: $warm-red;
}

.list-group-item:hover {
  background-color: $base-purple;
  color: white;
  cursor: pointer;
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;

body {
  background-color: $white;
}

// demo-specific
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}
// end demo-specific

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $base-purple;
  }
  40% {
    stroke: $base-purple;
  }
  66% {
    stroke: $base-purple;
  }
  80%,
  90% {
    stroke: $base-purple;
  }
}