//theme colors
$base-blue: #001e60;
$base-green: #84bd00;
$base-orange: #ffb81c;
$co-blue: #898d8d;
$co-green: #40BD00;
$co-orange: #ed8b00;
$warm-blue: #401cd6;
$cool-blue: #005f83;
$warm-purple: #672146;
$cool-purple: #407ec9;
$warm-red: #e03e52;
$cool-red: #00a3e0;
$warm-orange: #cb6015;
$cool-orange: #2dccd3;

//basics
body{

}
//brand
.brand-bar {
  background-color: $base-blue;
}

.brand-logo {
  width: 20%;
  height: 20%;
}

.card-img {
  width: 100%;
  height: 100%;
}

.interest-color {
  background-color: $base-blue;
  color: white;
  margin: 5px;
}

.btn-donate, .btn-donate:hover, .btn-donate:active, .btn-donate:visited{
  background-color: $warm-purple !important;
  color: white;
  margin: 5px;
}


//flip cards

.flip-color {
  background-color: $base-orange;
  color: white;
  margin: 5px;
}

.flip {
  -webkit-perspective: 800;
perspective: 800;

    position: relative;
 
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {

  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {

  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
  z-index: 2;
   
}
.flip .card .front {
  position: absolute;
   width: 100%;
  z-index: 1;

}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
  .inner{margin:0px !important;}